/* whole page styling */
@font-face {
    font-family:'broadway' ;
    src: url(./fonts/ufonts.com_broadway.woff);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
html {
    height:100%;
    background-color: rgb(8, 8, 8);
    font-family: 'Open Sans', sans-serif;
}
body {
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
}
#page-container {
    display: flex; 
    margin: 0px;
}
@media (max-width:1345px) {
    #page-container {
        flex-direction: column;
    }
}
/* left side of page styling */
#image-container {
    display: flex;
    color: aliceblue;
    justify-content: center;
    flex: 0 2 100%;
}
#sunset {
    position: relative;
    height:100vh ;
    width: 800px;
    margin: 0 0 -15px 0;
    z-index: 1;
}
.image-text {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#credit-footer {
    background-color: rgb(8, 8, 8, .67);
    top: calc(100vh - (69px + 150px + 170px)); /*Keeps credit footer at the base of the image*/
    width: 800px;
    height: 65px;
    display: flex;
}
#logo {
    font-family: 'broadway';
    position: relative;
    top: 0px;
    background-color: rgb(8, 8, 8, .67);
    width: 800px;
    height: 170px;
    font-size: 82px;
}
.img-overlay {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    width: 658px;
    justify-content: center;
    align-items: center;
}
#smile {
    position: relative;
    z-index: 1;
    width: 150px;
}
a {
    color: aliceblue;
}
/*right side of page styling */

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(8, 8, 8);
    margin: 0 0 -5px 0;
    
}
#intro-text {
    margin: 40px 30px 0px 40px;
    
}
#sign-up-card {
    margin-top: 100px;
    border-top: 1px #d53aa0 solid;
    border-bottom: 1px #d53aa0 solid;
    outline-offset: 5px;
    box-shadow: #d53aa0 0px 0px 3px 2px, 
                #ce51e2 0px 0px 5px 5px,
                #5a34b5 0px 0px 7px 9px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

@media (max-width: 1847px) {
    #sign-up-card {
        justify-content: left;
        overflow: auto;
        padding-left: 50px
    }
}

#create-text {
    margin: 0px 0px 0px 34px;
}
fieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;
    align-items: center;
    justify-content: center;
}
.input-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
input {
    appearance: none;
    height: 40px;
    width: 290px;
    outline: none;
    box-shadow: none;
    font-size: 1.6rem;
    border: #d53aa0 solid 3px;
    border-radius: 9px;
}
input:focus {
    border: #4a6ae8 solid 3px;
}
input.error, input:invalid:not(:focus):not(:placeholder-shown) {
    box-shadow: inset red 0px 0px 4px 0px;
    border: red 3px solid;
}
#invalid-pass {
    color:red;
    font-size: 1rem;
    visibility: hidden;
    padding: 5px 0px 0px 1px
}
.fieldset-spacing {
    display: flex;
    flex-wrap: wrap;
}
label,
.text {
    color: #d53aa0;
    font-size: 1.7rem;
}
#align-button {
    display: flex;
    justify-content: center;
    
    margin-top: 40px;
}
#sign-up-button {
    height: 80px;
    width: 200px;
    justify-self: center;
    font-size: 32px;
    font-weight: 700;
    background-color: #d53aa0;
    border: rgb(8, 8, 8) 4px solid;
    outline: #d53aa0 solid 3px;
    outline-offset: 3px;
    border-radius: 12px;
    margin: 20px 0px 60px 0px;
}
#sign-up-button:hover {
    outline: rgb(8, 8, 8) solid 3px;
    border: #d53aa0 4px solid;
    background-color: rgb(8, 8, 8);
    color: #d53aa0;
}
#sign-up-button:active {
    color:aliceblue
}
