/*{ border: 1px solid red; }*/
html {
    height:100%;
}
body {
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
}
#page-container {
    display: flex; 
    margin: 0px;

}
#image-container {
    position: relative;
}
#sunset {
    height:100vh ;
    width: 800px;
    margin: 0 0 -5px 0;
}
.image-text {
    position: absolute;
}
#credit-footer {
    top: 900px;
}
#logo {
    top: 400px;
}
#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset {
    display: flex;
    margin: 200px;
    flex-wrap: wrap;
}
.input-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#sign-up-button {
    position:relative;
    left: 450px;
    height: 80px;
    width: 200px;
    top: -90px;
}